shamefully-hoist=true
registry=https://mirrors.tencent.com/npm/
ELECTRON_MIRROR=https://registry.npmmirror.com/-/binary/electron/
sass_binary_site=https://mirrors.tencent.com/npm/node-sass/
chromedriver_cdnurl=https://mirrors.tencent.com/npm/chromedriver/
